@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans:wght@600&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 10px 30px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    height: 100px;
    font-size: 24px;
}

nav {
    display: flex;
    padding: 45px 50px 0 45px; 
}

nav img{
   margin-top:-7px;
}

nav ul {
    padding: 10px 30px;
    margin-left: 121px;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

#cabecalho {
    height: 100px;
}

#cabecalho .subtituloPagina{
    height: 55px;
    display: flex;
    align-items: center;
}

#cabecalho .subtituloPagina p{
    padding: 45px 50px 30px 46px;
    font-family: 'Montserrat', sans-serif;
    font-size:24px;
    font-weight: 400;
    margin-top:20px;
}

#cabecalho .botao-add-tarefa {
    align-items: center;
}

#cabecalho .botao-add-tarefa .btn-a-fazer {
    padding: 30px 50px 30px 45px;  
    background-color: inherit;
    border: none;
    cursor: pointer;
    display: flex;
}

#cabecalho .botao-add-tarefa .btn-a-fazer p {
    color: #2196f3;
    font-size: 24px;
    padding: 12px 0px 0px 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#cabecalho .btn-a-fazer img {
    height: 50px;
    width: 50px;
}

.adicaoTarefas {
    height: 100px;
    padding: 5px 50px 0 45px;
    align-items: center;
    display: none;
}

.adicaoTarefas label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    margin-right: 17px;
    margin-left: 5px;
}

.adicaoTarefas input {
    width: 490px;
    height: 40px;
    border-color: #50b6cf;
    border-radius: 7px;
    margin-right: 15px;
    padding: 12px 20px; 
}

.adicaoTarefas .btn-add {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #ffffff;
    width: 145px;
    height: 40px;
    background-color: #50b6cf;
    border-radius: 12px;
    border: none;
}

.adicaoTarefas button {
    border: 1px solid black;
    margin-left: 15px;
    height: 20px;
    width: 20px;
    cursor: pointer; 
}

.divCor {
    display: flex;
}

.tarefas{
    padding: 45px 50px 30px 45px; 
}

.cartao {
    height: 200px;
    width: 200px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 10px;
}

.check {
    width: 15px;
    height: 15px;
    background-image: url("../assets/unchecked.png");
    margin-right: 5px;
    cursor: pointer;
}

.cartao-cabecalho {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    padding: 5px;
    background-color: #ffa4a3;
    color: #e42c28;
}

.cartao-corpo p {
    padding: 8px;
    margin: 0;
}

.cartao-rodape {
    width: 20px;
    height: 20px;
    background-image: url("../assets/archive-gray-scale.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.azul {
    background-color: #daf5fa;
    color: #19b5dc;
}

.verde {
    background-color: #d1fecb;
    color: #58a51d;
}

.rosa {
    background-color: #f6d0f6;
    color: #cb65cb;
}

.roxo {
    background-color: #dcd0f3;
    color: #9763f9;
}

.amarelo {
    background-color: #fcfccb;
    color: #8f8f69;
}

.laranja {
    background-color: #fbd4b4;
    color: #ec842e;
}

.branco {
    background-color: #ffffff;
    color: #727272;
}

.esconde {
    display: none;
}

.hide {
    display: flex;
}

li.concluida .cartao-cabecalho {
    background-color: #b8ff99;
    color: #2b5a07;
}

li.concluida .check {
    background-image: url("../assets/checked.png");
}

li.concluida .cartao-rodape {
    background-image: url("../assets/archive-color.png");
    cursor: pointer;
}

li.concluida .cartao-corpo {
    text-decoration: line-through;
}

li.arquivada .cartao-rodape {
    background-image: url("../assets/trash-color.png");
}

li.arquivada .check {
    cursor: default;
}

.cor-selecionada {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}