@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans:wght@600&family=Roboto:wght@400;500&display=swap');

/*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 10px 30px;
}

header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    height: 100px;
    font-size: 24px;
}

nav {
    display: flex;
    width: 100%;
    padding: 45px 50px 0 45px; 

}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px 30px;
    margin-left: 121px;
}

nav ul li {
    margin: 0 20px;

}

nav ul li a {
    text-decoration: none;
    color: black;
}

main {
    height: 100px;
}


main .botao-add-tarefa {
    height: 100px;
    display: block;
    align-items: center;
}

main .botao-add-tarefa .btn-a-fazer {
    padding: 30px 50px 30px 45px;  
    position: absolute;
    background-color: inherit;
    border: none;
    appearance: none;
    cursor: pointer;
    display: flex;
}

main .botao-add-tarefa .btn-a-fazer p {
    color: #2196f3;
    font-size: 24px;
    padding: 12px 0px 0px 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

main .btn-a-fazer img {
    height: 50px;
    width: 50px;
}

.esconde {
    visibility: hidden;
    display: block;
}

.adicaoTarefas {
    height: 100px;
    padding: 5px 50px 0 45px;
    align-items: center;
    display: none;
    margin-top: -75px;
}

.adicaoTarefas label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    margin-right: 17px;
    margin-left: 5px;
}

.adicaoTarefas input {
    width: 490px;
    height: 40px;
    border-color: #50b6cf;
    border-radius: 7px;
    margin-right: 15px;
    padding: 12px 20px; 
}

.hide {
    display: block;
    display: flex;
}

.adicaoTarefas .btn-add {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #ffffff;
    width: 145px;
    height: 40px;
    background-color: #50b6cf;
    border-radius: 12px;
    border: none;
}

.adicaoTarefas button {
    border: 1px solid;
    margin-left: 15px;
    height: 20px;
    width: 20px;
    /* box-shadow: 0 1px 0 gray; */
}


.adicaoTarefas button.azulAdd {
    background-color: #daf5fa;
}

.adicaoTarefas button.verdeAdd {
    background-color: #d1fecb;
}

.adicaoTarefas button.rosaAdd {
    background-color: #f6d0f6;
}

.adicaoTarefas button.roxoAdd {
    background-color: #dcd0f3;
}

.adicaoTarefas button.amareloAdd {
    background-color: #fcfccb;
}

.adicaoTarefas button.laranjaAdd {
    background-color: #fbd4b4;
}

.adicaoTarefas button.brancoAdd {
    background-color: #ffffff;
}

.tarefas{
    /* margin-top: 40px; */
    padding: 45px 50px 30px 45px; 
}
 ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.cartao {
    height: 200px;
    width: 200px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 10px;
}

.check {
    width: 15px;
    height: 15px;
    background-image: url("../assets/unchecked.png");
    margin-right: 5px;
    cursor: pointer;
}

.cartao-cabecalho {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    padding: 5px;
    background-color: #ffa4a3;
    color: #e42c28;
}

.cartao-corpo p {
    padding: 8px;
    margin: 0;
}

.cartao-rodape {
    width: 20px;
    height: 20px;
    background-image: url("../assets/archive-gray-scale.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.azul {
    background-color: #daf5fa;
    color: #19b5dc;
}

.verde {
    background-color: #d1fecb;
    color: #58a51d;
}

.rosa {
    background-color: #f6d0f6;
    color: #cb65cb;
}

.roxo {
    background-color: #dcd0f3;
    color: #9763f9;
}

.amarelo {
    background-color: #fcfccb;
    color: #8f8f69;
}

.laranja {
    background-color: #fbd4b4;
    color: #ec842e;
}

.branco {
    background-color: #ffffff;
    color: #727272;
}

li.concluida .cartao-cabecalho {
    background-color: #b8ff99;
    color: #2b5a07;
}

li.concluida .check {
    background-image: url("../assets/checked.png");
}

li.concluida .cartao-rodape {
    background-image: url("../assets/archive-color.png");
    cursor: pointer;
}

li.concluida .cartao-corpo {
    text-decoration: line-through;
}

li.arquivada .cartao-rodape {
    background-image: url("../assets/trash-color.png");
}

li.arquivada .check {
    cursor: default;
}
.subtituloPagina{
    height: 55px;
    display: flex;
    align-items: center;
}
.subtituloPagina p{
    padding: 45px 50px 25px 46px;
    font-family: 'Montserrat', sans-serif;
    font-size:24px;
    font-weight: 400;
  
}