@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans:wght@600&family=Roboto:wght@400;500&display=swap');

/*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
*/


body {
    margin: 10px 30px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.cartao {
    height: 200px;
    width: 200px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 10px;
}

.check {
    width: 15px;
    height: 15px;
    background-image: url("../assets/unchecked.png");
    margin-right: 5px;
    cursor: pointer;
}

.cartao-cabecalho {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    padding: 5px;
    background-color: #ffa4a3;
    color: #e42c28;
}

.cartao-corpo p {
    padding: 8px;
    margin: 0;
}

.cartao-rodape {
    width: 20px;
    height: 20px;
    background-image: url("../assets/archive-gray-scale.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.azul {
    background-color: #daf5fa;
    color: #19b5dc;
}

.verde {
    background-color: #d1fecb;
    color: #58a51d;
}

.rosa {
    background-color: #f6d0f6;
    color: #cb65cb;
}

.roxo {
    background-color: #dcd0f3;
    color: #9763f9;
}

.amarelo {
    background-color: #fcfccb;
    color: #8f8f69;
}

.laranja {
    background-color: #fbd4b4;
    color: #ec842e;
}

.branco {
    background-color: #ffffff;
    color: #727272;
}

li.concluida .cartao-cabecalho {
    background-color: #b8ff99;
    color: #2b5a07;
}

li.concluida .check {
    background-image: url("../assets/checked.png");
}

li.concluida .cartao-rodape {
    background-image: url("../assets/archive-color.png");
    cursor: pointer;
}

li.concluida .cartao-corpo {
    text-decoration: line-through;
}

li.arquivada .cartao-rodape {
    background-image: url("../assets/trash-color.png");
}

li.arquivada .check {
    cursor: default;
}
.subtituloPagina{
    height: 55px;
    display: flex;
    align-items: center;
}
.subtituloPagina p{
    padding: 16px 50px 0 28px;
    font-family: 'Montserrat', sans-serif;
    font-size:24px;
    font-weight: 400;
}